In [1]:
import json
import pandas as pd

In [61]:
YEAR = 2020
files = ['win', 'draw', 'loss', 'goal', 'shot',  'cross', 'pass', 'touch', 'cleansheet', 'save', 'tackle', 'foul', 'redcard', 'yellowcard']
data_dict = {}

for file in files:
    with open('./data/{}/team/{}.json'.format(YEAR, file), 'r', encoding='utf8') as f:
        print(file)
        data_dict[file] = json.load(f)['data']

win
draw
loss
goal
shot
cross
pass
touch
cleansheet
save
tackle
foul
redcard
yellowcard

In [62]:
for team in data_dict['goal']:
    print(team['team_name'], team['match_played'], team['value'], team['value']/team['match_played'])

Mumbai City FC 23 39 1.6956521739130435
FC Goa 22 33 1.5
NorthEast United FC 22 33 1.5
ATK Mohun Bagan 23 32 1.391304347826087
Hyderabad FC 20 27 1.35
Bengaluru FC 20 26 1.3
Odisha FC 20 25 1.25
Kerala Blasters FC 20 23 1.15
SC East Bengal 20 22 1.1
Jamshedpur FC 20 21 1.05
Chennaiyin FC 20 17 0.85

In [63]:
clean_data_dict = {}

for file in files:
    data = data_dict[file]
    
    for team_data in data:
        team_short_name = team_data['team_short_name']
        
        if team_short_name not in clean_data_dict:
            clean_data_dict[team_short_name] = {
                'team_name': team_data['team_name'],
                'team_short_name': team_short_name,
                'match_played': team_data['match_played']
            }
            
        clean_data_dict[team_short_name][file] = team_data['value']

In [64]:
clean_data_dict

{'MCFC': {'team_name': 'Mumbai City FC',
  'team_short_name': 'MCFC',
  'match_played': 23,
  'win': 13,
  'draw': 6,
  'loss': 4,
  'goal': 39,
  'shot': 279,
  'cross': 322,
  'pass': 11050,
  'touch': 14121,
  'cleansheet': 10,
  'save': 61,
  'tackle': 821,
  'foul': 344,
  'redcard': 3,
  'yellowcard': 61},
 'ATKMB': {'team_name': 'ATK Mohun Bagan',
  'team_short_name': 'ATKMB',
  'match_played': 23,
  'win': 13,
  'draw': 5,
  'loss': 5,
  'goal': 32,
  'shot': 296,
  'cross': 250,
  'pass': 7605,
  'touch': 11136,
  'cleansheet': 10,
  'save': 59,
  'tackle': 789,
  'foul': 343,
  'yellowcard': 46},
 'NEUFC': {'team_name': 'NorthEast United FC',
  'team_short_name': 'NEUFC',
  'match_played': 22,
  'win': 8,
  'draw': 10,
  'loss': 4,
  'goal': 33,
  'shot': 273,
  'cross': 235,
  'pass': 7309,
  'touch': 10377,
  'cleansheet': 5,
  'save': 42,
  'tackle': 695,
  'foul': 339,
  'redcard': 1,
  'yellowcard': 36},
 'JFC': {'team_name': 'Jamshedpur FC',
  'team_short_name': 'JFC',
  'match_played': 20,
  'win': 7,
  'draw': 6,
  'loss': 7,
  'goal': 21,
  'shot': 214,
  'cross': 305,
  'pass': 6564,
  'touch': 9467,
  'cleansheet': 8,
  'save': 59,
  'tackle': 672,
  'foul': 310,
  'redcard': 4,
  'yellowcard': 31},
 'FCG': {'team_name': 'FC Goa',
  'team_short_name': 'FCG',
  'match_played': 22,
  'win': 7,
  'draw': 12,
  'loss': 3,
  'goal': 33,
  'shot': 300,
  'cross': 275,
  'pass': 10597,
  'touch': 13550,
  'cleansheet': 4,
  'save': 41,
  'tackle': 754,
  'foul': 327,
  'redcard': 4,
  'yellowcard': 35},
 'HFC': {'team_name': 'Hyderabad FC',
  'team_short_name': 'HFC',
  'match_played': 20,
  'win': 6,
  'draw': 11,
  'loss': 3,
  'goal': 27,
  'shot': 237,
  'cross': 283,
  'pass': 8121,
  'touch': 10873,
  'cleansheet': 8,
  'save': 39,
  'tackle': 595,
  'foul': 277,
  'redcard': 3,
  'yellowcard': 26},
 'BFC': {'team_name': 'Bengaluru FC',
  'team_short_name': 'BFC',
  'match_played': 20,
  'win': 5,
  'draw': 7,
  'loss': 8,
  'goal': 26,
  'shot': 237,
  'cross': 220,
  'pass': 7547,
  'touch': 10155,
  'cleansheet': 4,
  'save': 61,
  'tackle': 547,
  'foul': 280,
  'yellowcard': 51},
 'SCEB': {'team_name': 'SC East Bengal',
  'team_short_name': 'SCEB',
  'match_played': 20,
  'win': 3,
  'draw': 8,
  'loss': 9,
  'goal': 22,
  'shot': 190,
  'cross': 221,
  'pass': 8193,
  'touch': 10773,
  'cleansheet': 3,
  'save': 64,
  'tackle': 588,
  'foul': 267,
  'redcard': 4,
  'yellowcard': 44},
 'KBFC': {'team_name': 'Kerala Blasters FC',
  'team_short_name': 'KBFC',
  'match_played': 20,
  'win': 3,
  'draw': 8,
  'loss': 9,
  'goal': 23,
  'shot': 268,
  'cross': 289,
  'pass': 7460,
  'touch': 10212,
  'cleansheet': 3,
  'save': 58,
  'tackle': 651,
  'foul': 281,
  'redcard': 2,
  'yellowcard': 37},
 'CFC': {'team_name': 'Chennaiyin FC',
  'team_short_name': 'CFC',
  'match_played': 20,
  'win': 3,
  'draw': 11,
  'loss': 6,
  'goal': 17,
  'shot': 255,
  'cross': 263,
  'pass': 7448,
  'touch': 10271,
  'cleansheet': 6,
  'save': 51,
  'tackle': 663,
  'foul': 311,
  'redcard': 1,
  'yellowcard': 46},
 'OFC': {'team_name': 'Odisha FC',
  'team_short_name': 'OFC',
  'match_played': 20,
  'win': 2,
  'draw': 6,
  'loss': 12,
  'goal': 25,
  'shot': 213,
  'cross': 205,
  'pass': 6690,
  'touch': 9386,
  'cleansheet': 1,
  'save': 70,
  'tackle': 600,
  'foul': 260,
  'yellowcard': 50}}

In [65]:
clean_data = []
for value in clean_data_dict.values():
    clean_data.append(value)

In [66]:
clean_df = pd.DataFrame(clean_data)
clean_df

,team_name,team_short_name,match_played,win,draw,loss,goal,shot,cross,pass,touch,cleansheet,save,tackle,foul,redcard,yellowcard
0,Mumbai City FC,MCFC,23,13,6,4,39,279,322,11050,14121,10,61,821,344,3.0,61
1,ATK Mohun Bagan,ATKMB,23,13,5,5,32,296,250,7605,11136,10,59,789,343,NaN,46
2,NorthEast United FC,NEUFC,22,8,10,4,33,273,235,7309,10377,5,42,695,339,1.0,36
3,Jamshedpur FC,JFC,20,7,6,7,21,214,305,6564,9467,8,59,672,310,4.0,31
4,FC Goa,FCG,22,7,12,3,33,300,275,10597,13550,4,41,754,327,4.0,35
5,Hyderabad FC,HFC,20,6,11,3,27,237,283,8121,10873,8,39,595,277,3.0,26
6,Bengaluru FC,BFC,20,5,7,8,26,237,220,7547,10155,4,61,547,280,NaN,51
7,SC East Bengal,SCEB,20,3,8,9,22,190,221,8193,10773,3,64,588,267,4.0,44
8,Kerala Blasters FC,KBFC,20,3,8,9,23,268,289,7460,10212,3,58,651,281,2.0,37
9,Chennaiyin FC,CFC,20,3,11,6,17,255,263,7448,10271,6,51,663,311,1.0,46
10,Odisha FC,OFC,20,2,6,12,25,213,205,6690,9386,1,70,600,260,NaN,50

In [59]:
clean_df.fillna(0)

,team_name,team_short_name,match_played,win,draw,loss,goal,shot,cross,pass,touch,cleansheet,save,tackle,foul,redcard,yellowcard
0,Chennaiyin FC,CFC,16,7,5,4,27,223,242,6466,9071,3,42,355,237,3.0,36
1,FC Goa,FCG,16,6,6,4,21,228,256,6905,9693,7,53,361,210,1.0,29
2,Kerala Blasters FC,KBFC,17,6,4,7,13,189,323,6717,9511,7,57,267,218,1.0,37
3,ATK,ATK,17,5,9,3,17,175,277,6159,9163,8,56,388,250,3.0,32
4,Delhi Dynamos FC,DDFC,14,4,6,4,16,168,267,5709,7936,5,62,172,145,2.0,19
5,FC Pune City,FCPC,14,4,4,6,12,188,277,5523,7941,5,40,238,146,0.0,28
6,Mumbai City FC,MCFC,14,4,4,6,12,181,225,5893,8115,6,49,266,155,1.0,26
7,NorthEast United FC,NEUFC,14,3,6,5,11,159,271,6084,8554,6,52,292,149,3.0,18

In [60]:
clean_df.to_csv('./data/{}/team/combined.csv'.format(YEAR), index=False)

In [70]:
clean_df['points'] = clean_df['win']*3 + clean_df['draw']
clean_df = clean_df.sort_values(by='points')
clean_df['in_playoff'] = pd.Series([1]*4 + [0]*(len(clean_df) - 4))
clean_df

,team_name,team_short_name,match_played,win,draw,loss,goal,shot,cross,pass,touch,cleansheet,save,tackle,foul,redcard,yellowcard,points,in_playoff
10,Odisha FC,OFC,20,2,6,12,25,213,205,6690,9386,1,70,600,260,NaN,50,12,0
7,SC East Bengal,SCEB,20,3,8,9,22,190,221,8193,10773,3,64,588,267,4.0,44,17,0
8,Kerala Blasters FC,KBFC,20,3,8,9,23,268,289,7460,10212,3,58,651,281,2.0,37,17,0
9,Chennaiyin FC,CFC,20,3,11,6,17,255,263,7448,10271,6,51,663,311,1.0,46,20,0
6,Bengaluru FC,BFC,20,5,7,8,26,237,220,7547,10155,4,61,547,280,NaN,51,22,0
3,Jamshedpur FC,JFC,20,7,6,7,21,214,305,6564,9467,8,59,672,310,4.0,31,27,1
5,Hyderabad FC,HFC,20,6,11,3,27,237,283,8121,10873,8,39,595,277,3.0,26,29,0
4,FC Goa,FCG,22,7,12,3,33,300,275,10597,13550,4,41,754,327,4.0,35,33,0
2,NorthEast United FC,NEUFC,22,8,10,4,33,273,235,7309,10377,5,42,695,339,1.0,36,34,1
1,ATK Mohun Bagan,ATKMB,23,13,5,5,32,296,250,7605,11136,10,59,789,343,NaN,46,44,1
0,Mumbai City FC,MCFC,23,13,6,4,39,279,322,11050,14121,10,61,821,344,3.0,61,45,1